.ym-wrapper {
    min-width: 560px;
    max-width: 80em;
}
.ym-wbox { padding: 10px; 
}

#header {
	   background-color: #cce;
	   padding: 10px;
	   color: #000;
}

#page {
    background-color: #eef;
    color: #003;
    padding:0;
    margin:10px;	
}

#main {
	background-color: white;
}

body {
	background-color: #eef;
}

#footer {
    background-color: #eef;
    border-top: 1px solid #cce;	
}

#footer p {
    font-size: 75%;
    margin:0;
}

span.OLL {
    font-family: 'Old Standard TT';
    font-weight: 700;
    font-size: 120%;
}

span.XMP {
	   font-family: 'inconsolata';
	   font-weight: 700;
	   color:#842;
}