:pagewrapstart
<div id="main">
  <div class="ym-wrapper">
    <div class="ym-wbox"> 
      <div class="ym-column">
        <div class="ym-col1">
          <div class="ym-cbox">
            @content
          </div>
        </div>
        <div class="ym-col3">
          <div class="ym-cbox">
            <div class="box">
            <h4>Info:</h4>
            <div class="box">
              Project Page on <a href="https://sourceforge.net/projects/musicexamples">SourceForge</a>
            </div>
            <div class="box">
              Current Release: @current_release<br />
              Download from <a href="https://sourceforge.net/projects/musicexamples/files/@current_release	">SourceForge</a>
            </div>
              <div class="box">
                Reading:<br />
                <a href="@current_path@project_name-@current_release.pdf">Current manual</a><br />
                <a href="@current_pathexample.pdf">Example file</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
:pagewrapend