<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html" charset="utf-8" />
    <title>@name | @title</title>
    if 	@keywords do
   		  <meta name="keywords" content="@keywords" />
    endif
    <link rel="stylesheet" href="@css/oll-main.css" type="text/css"/>
    <link rel="javascript" href="http://use.edgefonts.net/inconsolata:n5,n7.js" />

<!--[if lte IE 7]>
		<link href="@css/iehacks.min.css" rel="stylesheet" type="text/css" />
<![endif]-->

<!--[if lt IE 9]>
  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->     <link rel="stylesheet" href="@css/hlist.css" />