    <div id="footer" class="center">
      <div class="ym-wrapper">
        <div class="ym-wbox">
          <hr />
          <p>
          &copy; Urs Liska and others @current_year | 
          @email |
          <a href="@root_path/imprint">Imprint</a><br />
          Layout based on <a href="http://www.yaml.de">YAML</a> | 
          Content managed by <a href="http://www.staceyapp.com">stacey</a><br />
          All content is distributed under a Creative Commons license: <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0">
          	<img style="vertical-align:middle" alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a> 
          	if not explicitely stated otherwise.
          </p>
        </div>
      </div>
    </div>