    <div id="footer" class="center">
      <div class="ym-wrapper">
        <div class="ym-wbox">
          <hr />
          <p>
          &copy; Urs Liska and others @current_year | 
          @email |
          <a href="@root_path/?/imprint">Imprint</a><br />
          Layout based on <a href="http://www.yaml.de">YAML</a> | 
          Content managed by <a href="http://www.staceyapp.com">stacey</a> |
          Site hosted at <a href="https://sourceforge.net"><img src="@root_path/public/images/sf10.gif" alt="sourceforge" style="vertical-align:middle" /></a>  <br />
          All material is distributed under a Creative Commons license: <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0"><img style="vertical-align:middle" alt="Creative Commons Lizenzvertrag" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a> 
          </p>
        </div>
      </div>
    </div>